{% extends 'commentstoreapp/base.html' %}

{% block title %}
    Insert a comment
{% endblock %}

{% block content %}
    <h4> Insert a comment: </h4>
    <form method="post" action="/commentstore/">
        <label for="name">Please enter your name:</label>
        <input type="text" name="name" title="Please enter your name">
        <br>
        <label for="date">Please enter the date of your visit:</label>
        <input type="text" name="date" title="Please enter the date of your visit">
        <br>
        <label for="comment">Please enter your comment:</label>
        <input type="text" name="comment" title="Please enter your comment">
        <br>
        <button type="submit" class="btn btn-primary">Submit Comment</button>
        <button type="reset" class="btn btn-primary">Reset Form</button>
    </form>

{% endblock %}