{% extends 'commentstore/base.html' %}

{% block title %}
    Login to Account
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ login_user }}
        <button type="submit" class="btn btn-success">Login</button>
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
    </form>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WebApps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/commentstore">Add Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}